.Header {
    background-color:#38761d;
    
    .Right {
        display: inline-flex;
        float: right;
        .User {
            padding-top: 0.75rem;
            margin: 0rem 0.5rem
        }
        .Menu {
            padding-top: 0.75rem; 
        }
    }

    .Left {
        cursor: pointer;
        padding-top: 0.5rem;
    }

}