.FriendsPage {
    top: 25%;
    left: 50%;
    .FriendsPage__FriendsCardContent {
        display: block;
        margin-top: 2rem;
        .Avatar {
            width: 3rem;
            height: 3rem;
        }
        .Name {
            margin-top: 1rem;
            margin-left: 1rem;
        }
        
    }

    .CardSpace {
        margin-top: 1rem;
    }

    .Friends__Container{
        border-bottom: 1px solid black;
        margin: 1rem 0;
        .Friends {
            display: flex;
            width: 100%;
            .Name{
                margin-top: 0.5rem;
            }

            .Button {
                margin-left: auto;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}
